{% extends 'adminbase.html' %}


{% block page-content  %}
<div class="container-fluid">
    
</div>
    <!-- body section -->
    <section class="about_section layout_padding container">
        <div class="container">   
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <h1>Welcome admin</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Total sale
                            </h2>
                        </div>
                        <p>
                            $99999
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock  %}
