{% extends 'adminbase.html' %}


    <!-- body section -->
{% block page-content %}
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-black">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse py-2 border border-white rounded-3" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item px-3">
						<a class="nav-link active text-white" aria-current="page" href="{% url 'inventory' %}">Products</a>
					</li>
					<li class="nav-item px-3">
						<a class="nav-link text-white" href="{% url 'addcategory' %}">Categories</a>
					</li>
					<li class="nav-item px-3">
						<a class="nav-link text-white" href="{% url 'addsize' %}">Sizes</a>
					</li>
				</ul>
				<form class="d-flex px-3" method="post" action="{% url 'adminside_search' %}">
					{% csrf_token %}
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "search_string">
					<input type="text" name="item" value="product" hidden>
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</div>
<div class="container ">
	<table class="table table-dark table-hover">
		<thead>
		<tr>
			<th class='text-center' scope="col">#</th>
			<th class='text-center' scope="col">Item</th>
			<th class='text-center' scope="col">Prize</th>
			<th class='text-center' scope="col">Stock</th>
			<th class='text-center' scope="col">Category</th>
			<th class='text-center' scope="col">Size</th>
			<th class='text-center' scope="col">Action</th>
		</tr>
		</thead>
		<tbody>
			{% for product in products %}
		<tr>
			<td class='text-center'>{{ forloop.counter }}</td> 
			<td class='text-center'>{{ product.product_name }}</td>
			<td class='text-center'>{{ product.product_prize }}</td>
			<td class='text-center'>{{ product.product_stock_amount }}</td>
			<td class='text-center'>{{ product.product_category.category_name }}</td>
			<td class='text-center'>{{ product.product_size.size_type }}</td>
			<td class='text-center'>
				<a class="btn btn-outline-success" href="{% url 'editproduct' product.id %}">Update</a>
				<a class="btn btn-outline-danger" href="{% url 'deleteitem' product.id %}">Delete</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="d-flex justify-content-end pe-5 me-5">
		<a href="{% url 'additem' %}"> <button class=" btn btn-outline-success px-4 py-2 " >Add item</button> </a>
	</div>
	
</div>
{% endblock page-content %}
    <!-- body section end -->
