{% extends "base.html" %}
{% load static %}
<!-- Product section -->

{% block page-content %}
<style>
.food_section .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, #f1f2f3 25px);
}
</style>
<section class="food_section layout_padding">
    <div class="container ">
        <div class="filters-content d-flex justify-content-center">
            <div class="row grid w-50 carousel slide " id="carouselExampleControls" data-ride="carousel">
                <div class="col-sm-12 col-md-12 all bg-white">           
                    <div class="box carousel-inner bg-white">                   
                        {% for item in images %}
                        {% if forloop.counter == 1 %}
                        <div class = "carousel-item active">
                        {% else %}
                        <div class = "carousel-item">
                        {% endif %}
                            <div class="img-box">
                                <img src={{ item.image.url}} alt="">
                            </div>   
                        </div>
                        {% endfor %}    
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-warning " aria-hidden="true"></span>
                            <span class="sr-only ">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon bg-warning" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="detail-box ">
        <div class="text-center py-4">
            <button class="btn btn-outline-warning py-1" onclick="decrement()">-</button>
            <input class="border rounded border-warning py-0 px-0 text-center " id='quantity' type=number min=1 max=5 name = 'quantity' value="{{item_count}}" > 
            <button class="btn btn-outline-warning py-1" onclick="increment()">+</button>
        </div>
             
        <h5 class="text-center " >
            {{ product.product_name }}
        </h5>
        <p class="text-center" >
            {{ product.product_text }}
        </p>
        <div class="options d-flex justify-content-center">
            <h6>
            Rs {{ product.product_prize }}
            </h6>
        </div>
        <div class="container d-flex justify-content-center">
            <div class=" p-3 " >
                <a href="{% url 'checkout' %}" onclick="" class="btn btn-warning px-4 ">
                    <span class="text-white " > CheckOut</span>
                </a>
            </div>
            <input type="hidden" id="product_id" value="{{ product.id }}">
            <form>
                {% csrf_token %}
                <!-- Your form fields here -->
              </form>
            {% if not product.is_deleted %}
            <div class=" p-3 " >
                <button onclick="addToCart()" class="btn btn-warning px-3">
                    <span class="text-white " > Add to cart</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    
</section>
<script src="{% static 'js/helper2.js' %}"></script>
<script>
    // Spinner input 
    let n = document.getElementById('quantity').value;
    n = parseInt(n)
    document.getElementById('quantity').innerHTML = n
function increment() {
    document.getElementById('quantity').stepUp();
    let n = document.getElementById('quantity').value;
    n = parseInt(n)
    document.getElementById('quantity').innerHTML = n
  }
  function decrement() {
    document.getElementById('quantity').stepDown();
    let n = document.getElementById('quantity').value;
    n = parseInt(n) 
    document.getElementById('quantity').innerHTML = n
  }
  
</script>
{% endblock page-content %}
<!-- Product section -->
