{% extends 'adminbase.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/confirmation.js' %}"></script>
{% endblock %}



{% block page-content %}
<style>
    #blk-box{
        display: none;
        
    }
    #dlt-box{
        display: none;
    }
      
</style>
    <div class="container ">
        <div class="row justify-content-center align-items-center pt-5">
            <div class="col-md-6 ">
                <form action="{% url 'user_update' user.id %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="bane" class=" pt-2 text-white ">First Name </label>
                        <input type="text" class="form-control " placeholder="Users Name" name="name" value="{{user.first_name}}" readonly />
                    </div>
                    <div>
                        <label for="bane" class=" pt-2 text-white">Mobile </label>
                        <input type="text" class="form-control" placeholder="Users Phone Number" name="number" value="{{user.phone_number}}" readonly/>
                    </div>
                    <div>
                        <label for="bane" class=" pt-2 text-white">Email </label>
                        <input type="email" class="form-control" placeholder="Users Your Email" name="email" value="{{user.email}}" readonly />
                    </div>
                    <div class="btn_box p-3 ">
                        <button class="btn btn-warning " type="submit">
                            UPDATE
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <a class=" p-2 " id="dltbtn"  >               
                    <button class=" btn-danger " type="submit">DELETE USER</button>
                </a>
                <div id="dlt-box" class="w-50 bg-black position-absolute">
                    <p class=" text-center text-danger">Are you sure ? <br> <span class="text-bg-warning text-black font-weight-bold"> DELETE !!</span></p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success mx-2" id="nodel">NO</button>
                        <a class="btn btn-danger mx-2" href="{% url 'delete_profile' user.id %}" >YES</a>
                        
                    </div>   
                </div>



                {% if user.blocked %}
                <p class="m-0" >This user is blocked</p>
                <a class=" p-2 " href="{% url 'unblock_user' user.id %}" >           
                    <button class=" btn-danger " type="button">UN BLOCK</button>
                </a>
                
                {% else %}
                <a class="p-2" id="blockbtn" >               
                    <button class="btn-danger " type="button">BLOCK USER</button>
                </a>
                <div id="blk-box" class="w-50 bg-black position-absolute">
                    <p class=" text-center text-danger">Are you sure  ?<br><span class=" font-weight-bold"> BLOCK !!</span></p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success mx-2" id="no">NO</button>
                        <a class="btn btn-danger mx-2" href="{% url 'block_user' user.id %}" id="yes">YES</a>
                        
                    </div>   
                </div>

                {% endif %}
                
                
            </div>
        </div>
    </div>

<script>
   
</script>

{% endblock page-content %}